* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app {
  display: grid;
  gap: 10px;
}

.app__function {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.app__function button {
  width: fit-content;
  justify-self: self-end;
  border: 2px solid blue;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: white;
  padding: 5px 15px;
}

.app__dropdown {
  display: flex;
  align-items: center;
}

.app__dropdown label {
  margin-right: 10px;
}

.app__dropdown select {
  border: 2px solid #90f;
  padding: 5px 15px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  max-width: 150px;
  text-align: center;
}

.app__dropdown select::-ms-expand {
  display: none;
}

.app__dropdown select:focus,
.app__function button:focus {
  outline: none;
}

#app__area {
  width: 500px;
  min-height: 400px;
  padding: 10px;
}

.app textarea,
.app p {
  font-family: consolas;
  font-size: small;
  height: 70px;
  width: 500px;
  resize: none;
  padding: 10px;
  border: 2px solid;
  border-image: linear-gradient(to left, blue, #90f) 1;
}

.app textarea:focus {
  outline: none;
  border: 2px solid;
  border-image: linear-gradient(to left, #00ff22, #ff2600) 1;
}
